.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    margin-top: 10rem;
}

.value {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    padding-top: 5rem;
}
.inputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}
.input {
    width: 20ch;
    height: 2.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0.5rem;
    font-size: 1.5em;
    margin-right: 1rem;
}
.input:focus {
    outline: 2px solid rgba(112, 76, 182, 0.4);
}
.inputButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    padding: 1rem;
    margin: 0;
    background-color: #fff;
    border: 2px solid rgba(112, 76, 182, 0.4);
    border-radius: 10px;
    transition: all 0.1s ease-in-out;
}
.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    padding: 1rem;
    margin: 0 2rem;
    background-color: #fff;
    border: 2px solid rgba(112, 76, 182, 0.4);
    border-radius: 10px;
    transition: all 0.1s ease-in-out;
}

.button:active,
.button:hover {
  color: rgba(0, 0, 0, 0.8);
  background-color: rgba(112, 76, 182, 0.2);
  transform: scale(1.1);
}

.asyncButton {
  composes: button;
  position: relative;
}

.asyncButton:after {
  content: '';
  background-color: rgba(112, 76, 182, 0.15);
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  transition: width 1s linear, opacity 0.5s ease 1s;
}

.asyncButton:active:after {
  width: 0%;
  opacity: 1;
  transition: 0s;
}